/*hsl(212, 36%, 90%) en hsl(212, 43%, 65%) en hsl(208, 48%, 47%);*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(212, 36%, 90%);
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 10px;
    width: 900px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 200px);
    grid-gap: 16px;
    grid-template-areas:
    ". . . a"
    "b b c ."
    "b b d e"
    ". . . ."
    ". f g g"
    "h i g g"
    "j . . ."
}

.item-small {
    background-color: hsl(212, 43%, 65%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item-big {
    background-color: hsl(208, 48%, 47%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item-a {
    grid-area: a;
}

.item-b {
    grid-area: b;
}

.item-c {
    grid-area: c;
}

.item-d {
    grid-area: d;
}

.item-e {
    grid-area: e;
}

.item-f {
    grid-area: f;
}

.item-g {
    grid-area: g;
}

.item-h {
    grid-area: h;
}

.item-i {
    grid-area: i;
}

.item-j {
    grid-area: j;
}